<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel ="stylesheet" href="/css.css"/>
</head>
<body>
    <h1>Cadastrar-se<h1>
    <form action="/cadastrar" method="POST">
        <label for="inputLogin">Login: </label><input id="inputLogin" type="text" placeholder="Login" name="login" required>
        <label for="inputSenha">Senha: </label><input id="inputSenha" type="text" placeholder="Senha" name="senha" required>
        <button type="submit">Registrar</button>
    </form>
</body>
</html>