<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel ="stylesheet" href="/css.css"/>
</head>
<body>
    <h1>Seja bem vindo <%= loginNome %>!</h1>
    <p>Esse é um sistema para testar a criação de um sistema de login utilizando Express</p>
</body>
</html>