<!DOCTYPE html>
  <html lang="pt">
  <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="/img/favicon" type="image/x-icon">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">


     <link rel="stylesheet" type="text/css"  href="/css/styles.css">
      
      <title>CMS</title>
   </head>
   <body>
       <img src="https://wallpapercave.com/wp/wp2337079.jpg" alt="image" class="login__bg">
            
        
   </body>
   </html>